{{!-- body of the home page --}}
<h1>Welcome to the Tech Blog!</h1>

{{!-- creates a card for every existing post to display to homepage --}}
<div class="posts">
  {{#each posts}}
  <article class="card" id="single-post">
    <div class="cardhead">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
    </div>
      <p>{{post_text}}</p>
      <div>
        <p id="post-info">Posted by {{user.name}} on {{format_date createdAt}}</p>
      </div>
    {{!-- </div> --}}
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>