{{!-- page that displays a single post and its comments if it has any --}}
<container id="single-post">
  <article class="card">
    
      <h2>{{post.title}}</h2>     
    <p>
      {{post.post_text}}
    </p>
    <article id="post-info"> Posted by: {{post.user.name}} on {{format_date post.createdAt}}
    <p> {{#if post.updatedAt}} Updated on {{format_date post.updatedAt}} {{/if}}</p>
    </article>
  </article>
  </container>

{{!-- if the post has comments, each of them are displayed as outlined below --}}
  {{#if post.comments}}
    <section class="card-comment">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each post.comments}}
          <div id="user-comment">
            <p id="user-comment-info">{{user.name}}</p>
            <p>{{comment_text}}</p>
            <p id="comment-date">posted on {{format_date createdAt}}</p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

{{!-- form for logged in user to add a comment to a post --}}
{{#if logged_in}}
  <form id="new-comment-form" class="card">

      <input type="hidden"  id="newComment" name="post-id" value="{{post.id}}" />
      <label class="form-label" for="comment-body">Comment</label>
      <textarea id="commentBody" name="comment-body" placeholder="add a comment.." class="form-input"></textarea>
      <button id="commentBtn">Submit</button>
  </form>
  {{else}}

  <button><a href="/login">Add Comment</a></button>
 {{/if}}

<script src="/js/comment.js"></script>